<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>
<body>

    <!--Картинки-->
    <svg display="none">
        <symbol id="back" viewBox="0 0 32 32">
            <g>
                <path class="cls-1" d="M30,29a1,1,0,0,1-.81-.41l-2.12-2.92A18.66,18.66,0,0,0,15,18.25V22a1,1,0,0,1-1.6.8l-12-9a1,1,0,0,1,0-1.6l12-9A1,1,0,0,1,15,4V8.24A19,19,0,0,1,31,27v1a1,1,0,0,1-.69.95A1.12,1.12,0,0,1,30,29ZM14,16.11h.1A20.68,20.68,0,0,1,28.69,24.5l.16.21a17,17,0,0,0-15-14.6,1,1,0,0,1-.89-1V6L3.67,13,13,20V17.11a1,1,0,0,1,.33-.74A1,1,0,0,1,14,16.11Z"/>
            </g>
        </symbol>
    </svg>


    <div class="main">
        <div class="main-box">
            <div class="path">
                <form method="post" action="/back">
                    <input type="hidden" th:attr="value=${path}" name="path">
                    <button style="padding:0" class="back-icon">
                        <svg class="back-icon">
                            <use xlink:href="#back"></use>
                        </svg>
                    </button>
                </form>
                <form method="post" class="path-box" action="/">
                    <input name="newPath" class="path-input" th:attr="value=${path}" placeholder="Path:">
                    <input name="oldPath" type="hidden" class="path-input" th:attr="value=${path}">
                </form>
            </div>
            <div class="exception">
                <p class="exception-text" th:text="${exception}"></p>
            </div>

            <div class="content-info">
                <div class="content-type">Type</div>
                <div class="content-name">Name</div>
                <div class="content-size">Size</div>
                <div class="content-date-create">Date Create</div>
                <div class="content-date-update">Date Update</div>
            </div>
            <div class="content">
                <th:block th:each="file : ${listFile}">
                    <div th:if="${file.isDirectory}" th:include="blocks/blockDirectory :: blockDirectory"></div>
                    <div class="content-file" th:unless="${file.isDirectory}" th:include="blocks/blockFile :: blockFile"></div>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>